<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Relacionado con posicionamiento.css -->
    <link rel="stylesheet" href="../css/posicionamiento.css">
    <title>CSS</title>

</head>

<body>

    <header></header>
     
    <main class="contenedor"> 
        <h1>Posicionamiento</h1>
        <div id="estatico"></div>
        <div id="relativo"></div>
        <div id="absoluto"></div>
        <div id="fijo"></div>
    </main>

    <footer></footer>




</body>

</html>